html {
    font-family: sans-serif;
    display: block;
    text-align: center;
}
body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #000000;
}
h1 {
    font-size: 1.4rem;
    color: white;
}
h2 {
    font-size: 1.2rem;
    color: white;
}
h3 {
    font-size: 1.0rem;
    color: white;
}
p {
    padding: 5px; 
}
button {    
    color: white;
    padding: 5px 5px;   
    margin: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.topnav {
    text-align: center;
    background-color: #000000;
}
.wrapper {
    color: #bebebe;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 1fr 1fr;
}
.section1 { /*connection*/
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;  
}
.section2 { /*animation*/
    padding: 5px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; 
}
.section3 { /*brightness/color*/
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
}
.section4 { /*layers*/
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4; 
}
.section5 { /*pattern control*/
    padding: 5px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4; 
}
.section6 { /*last value sent*/
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5; 
}
DIV.table {
    display:table;
    table-layout: fixed;
    width: 100%;
}
FORM.tr, DIV.tr
{
    display:table-row;
    padding: 5px;
}
SPAN.td
{
    display:table-cell; 
}
input[type=range] {
  width: 75%;
}
.card {
    background-color: rgb(36, 36, 36);
    padding: 10px;
}
.onButton{
    background-color: #a7a7a7;
}
.offButton{
    background-color: #5c5c5c;
}
.connectButton{
    background-color: #24af37;
}
.disconnectButton{
    background-color: #d13a30;
}
.resetButton{
    background-color: #000000;
    color: white;
    padding: none;
    margin: none;
    border: none;
    cursor: pointer;
    border-radius: none;
    border-radius: none;
}
.gray-label {
    color: #bebebe;
    font-size: 1rem;
    text-align: center;
}
.reading {
    font-size: 1.8rem;
}
.credits {
    color: #aaaaaa;
    font-size: .8rem;
}